/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;

}

/* Header */
header, h1  {
  
  margin: 10px;
  padding: auto;
  }
  .container{
  display: flex;
  justify-content: center;
  }

/* Containers */

.ab h3{
  display: flex;
  float:right;
  text-align: left;
  width:50%;
  padding-bottom: 5px;
  
}
.ab p{
  margin-top: 10px;
  margin-bottom: 10px;
  
}

div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article  {
  width: 100%;
}

.heading {
  display: flex;
  flex-direction:column;
  width: 300px;
  
}
.heading ul  {
  text-align: left;
  margin: auto;
  
    
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a{
  padding: 10px;
  line-height: 70px;
  
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  float: left;
  margin-top:29px;
}
#portfolio{
  display: flex;
  font-size: 14px;
  width: 500px;
  
  
}

#portfolio section {
  display: flex;
  flex-direction: column;
  padding: 7px;
  width: 40%;
  
  }

  #contact{
    text-align: left;
    width:100%;
  }
  #contact p{
  float: right;
  margin: auto;
  }
  .center{
    display: block;
    

  }

/* Footer */
footer p{
  display:flex;
  position: center;
  height: 50px;
  width: 100%;
  text-align: center;
  
  }

/* Other page elements */
hr {
  border: 1px solid black;
}
